[project]
	description = Sample node app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Debobrata Sinha (db-s)
[access "refs/for/refs/*"]
	read = group user/Debobrata Sinha (db-s)
	push = group user/Debobrata Sinha (db-s)
	label-Code-Review = -2..+2 group user/Debobrata Sinha (db-s)
	label-Verified = -1..+1 group user/Debobrata Sinha (db-s)
	rebase = group user/Debobrata Sinha (db-s)
	removeReviewer = group user/Debobrata Sinha (db-s)
	submit = group user/Debobrata Sinha (db-s)
[access "refs/heads/*"]
	read = group user/Debobrata Sinha (db-s)
	create = group user/Debobrata Sinha (db-s)
	push = +force group user/Debobrata Sinha (db-s)
	pushMerge = group user/Debobrata Sinha (db-s)
[access "refs/tags/*"]
	push = group user/Debobrata Sinha (db-s)
	push = +force group user/Debobrata Sinha (db-s)
